---
import Layout from "../../layouts/Layout.astro";
import goods from "../../data/goods.json";

export const getStaticPaths = async () => {
  return goods.map(({ url }) => ({
    params: { product: url },
  }));
};

const { product } = Astro.params;
const goodsData = goods.find(({ url }) => product === url);
---

<Layout>
  <main class=" sm:flex items-center justify-center mt-44 w-11/12 mx-auto">
    <div class="sm:w-2/4 sm:mr-5">
      <div>
        <img
          alt={goodsData.name}
          id="mainImage"
          src={`/03_ecsite/images/${goodsData.itemphotos[0]}`}
          class=" max-h-96 mx-auto"
        />
      </div>
      <div class="grid grid-cols-4 gap-2 mt-2">
        {goodsData.itemphotos.map((photo) => (
          <img
            src={`/03_ecsite/images/${photo}`}
            alt={goodsData.name}
            class="max-h-28 images cursor-pointer"
          />
        ))}
      </div>
    </div>
    <div class="sm:w-1/4 sm:ml-5 text-left ">
      <h2 class="font-medium text-3xl mb-4">{goodsData.name}</h2>
      {goodsData.memberOnly === true && (
        <p class="bg-pink-400 text-white text-sm inline  py-1 px-3 rounded-md">会員限定</p>
      )}
      <p class="mt-2">{goodsData.text}</p>
      <p class="font-bold text-xl mt-3">¥{goodsData.price}</p>
    </div>
  </main>
</Layout>

<script type="module">
  document.addEventListener('DOMContentLoaded', () => {
    const images = document.querySelectorAll('.images');
    const mainImage = document.querySelector('#mainImage');

    if (images.length > 0) {
      images[0].style.border = "1px solid #333";
    }

    images.forEach((image) => {
      image.addEventListener('click', () => {
        images.forEach((img) => img.style.border = "none");
        mainImage.src = image.src;
        image.style.border = "1px solid #333";
      });
    });
  });
</script>
